# Angular Default
/dist
/tmp
/out-tsc
/bazel-out
/node_modules
/.idea
/.project
/.classpath
/.c9/
/*.launch
/.settings/
/.vscode/
**/.DS_Store
*.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.cache
. angular/cache

# Netlify
.netlify/
