.about-container {
    display: flex;
    gap: 50px;
    align-items: center;

    @media (max-width: 768px) {
        flex-direction: column-reverse;
    }
}

.bio-content {
    flex: 1;

    p {
        margin-bottom: 1.5rem;
        font-size: 1.1rem;
        color: #444;
        line-height: 1.8;
    }
}

.bio-image {
    flex: 1;
    display: flex;
    justify-content: center;

    .profile-pic {
        width: 300px;
        height: 300px;
        object-fit: cover;
        object-position: top;
        border-radius: 20px;
        box-shadow: 20px 20px 0 var(--secondary-color);
    }
}